@media print {
    * {
        visibility: hidden;

    }
#hidden-print{
    visibility: hidden !important;
}
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
}